<script>
    import Menu from '../components/Menu.svelte'
    import Layout from '../components/Layout.svelte'
</script>

<Layout>
<div>
    <img src="/logo.png" alt="logo" width="200px"/>
    <h1>Foxay</h1>
    <h2>Documentations of repositories</h2>

    <hr/>

    <Menu/>

    <hr/>

    <h3>Members of Foxay:</h3>
    <ul>
        <li>Barto Kopec <a href="https://codeberg.org/bartokopec">codeberg.org/bartokopec</a></li>
    </ul>
</div>
</Layout>