<script>
    import UpLink from '../../components/UpLink.svelte'
    import Layout from '../../components/Layout.svelte'
    import Link from '../../components/Link.svelte';
    import Section from '../../components/Section.svelte';
</script>

<Layout>
    <span slot="toc">
        <ul>
            <li><Link location="#requirements" label="Requirements"/></li>
            <li><Link location="#installation" label="Installation"/></li>
            <li><Link location="#routes" label="Default routes"/></li>
            <li><Link location="#content" label="Content"/></li>
            <ul>
                <li><Link location="#content-accounts" label="Accounts"/></li>
                <li><Link location="#content-startpage" label="Start page"/></li>
                <li><Link location="#content-staticpages" label="Static pages"/></li>
                <li><Link location="#content-categories" label="Categories"/></li>
                <li><Link location="#content-tags" label="Tags"/></li>
                <li><Link location="#content-posts" label="Posts"/></li>
            </ul>
            <li><Link location="#custom-config" label="Customization, configuration"/></li>
            <ul>
                <li><Link location="#config-general" label="General"/></li>
                <li><Link location="#config-lang" label="Languages"/></li>
                <li><Link location="#config-reading" label="Reading"/></li>
            </ul>
            <li><Link location="#menu" label="Menu customization"/></li>
            <li><Link location="#cache" label="Caching"/></li>
            <li><Link location="#backup" label="Backup"/></li>
            <li><Link location="#rss" label="RSS"/></li>
            <li><Link location="#user" label="User profile config"/></li>
        </ul>
    </span>

    <div>
        <h1 id="up">HTMLz documentation</h1>

        <p>
            Base project is HTMLy: <Link location="https://github.com/danpros/htmly/" hasBefore={true}/><br/>
            Copy was created because of abbadon of HTMLy.<br/>
            The documentation of HTMLy is: <Link location="https://docs.htmly.com/" hasBefore={true}/>
        </p>
        <p>
            Before all, it is open source. If you have idea, fix, or enhancement, report it 🖤
        </p>
        <p>
            HTMLz is open source, databaseless, very simple and very small, CMS framework. It could be customized to achive your goal. The framework has built-in I18N (translations on multiple languages of the same content).
        </p>
        <p>
            The HTMLz could be used to blogging, with functionalities of categories and tags for posts. Could be also used for creating static pages.
            This framework contains such widgets like:
        </p>
        <ul>
            <li>Search bar</li>
            <li>Menu (it could be customized in Configuration Dashboard)</li>
            <li>Recent posts (amount of it could be customized in Configuration Dashboard)</li>
            <li>Popular posts (amount of it could be customized in Configuration Dashboard)</li>
            <li>Archive</li>
            <li>Tag cloud (amount of it could be customized in Configuration Dashboard)</li>
            <li>Category list</li>
        </ul>
        <p>
            Accounts are stored in plain configuration files at: <code>config/user</code> and the passwords are saved in it in SHA512 hash. The process of creating first, admin account could be found in <code>install.php -> Settings class -> saveConfigs() function</code>.
        </p>
        <p>
            The same way, are stored the rest of page created content. In plain files, in directory <code>content</code>
        </p>

        <hr/>

        <Section header="Requirements" headerId="requirements" headerLevel=2 hasBottomLine={true}>
            <p>
                This PHP app needs to run:
            </p>    
            <ul>
                <li>Web server that is compatible with PHP</li>
                <li>Installed PHP, as latest as it could be</li>
                <li>PHP plugins:</li>
                <ul>
                    <li>PHP-XML</li>
                    <li>PHP-ZIP</li>
                </ul>
            </ul>
            <p class="warning">Besides above, having knowledge about PHP applications will be pretty helpfull</p>    
        </Section>

        <Section headerLevel=2 header="Installation" headerId="installation" hasBottomLine={true}>
            <ul>
                <li>Downloaded, from: <Link location="https://codeberg.org/foxay/htmlz/releases" hasBefore={true}/>, archive extract in your Web Server directory where it should be placed.</li>
                <li>After the app will be placed, make sure the Web Server has required permissions to change files and directories in app directory.</li>
                <li>The app has auto installer, simillar to Wordpress installer. It should be available at <code>[APP URL]/install.php</code>.</li>
                <li>If any error will occur (in example permissions error), the installer form will print errors above form.</li>
                <li>The installer form should be filled correctly.</li>
                <li>After successful install, the installer PHP script will delete itself. <span class="warning">If this script will be still extists, please delete it manually.</span></li>
            </ul>
        </Section>

        <Section headerLevel=2 header="Default routes" headerId="routes" hasBottomLine={true}>
            <p>The endpoints system after installation is:</p>
            <ul>
                All of those started after: <code>[App Url]</code> base address.
                <li><code>/</code>: app main/start page</li>
                <li><code>/login</code>: form to log into Admin Dashboard</li>
                <li><code>/admin</code>: the dashboard for administration</li>
                <li><code>/lang</code>: page of selecting session language for user</li>
                <li><code>/blog</code>: default path for list of posts</li>
            </ul>
            <p>It could be customized (how-to is under)</p>
        </Section>

        <Section header="Content" headerLevel=2 headerId="content" hasBottomLine={true}>
            <Section header="Accounts" headerId="content-accounts" headerLevel=3>
                <p>
                    New accounts could be add by creating simillar config file like admin account. The <code>username.ini.example</code> could be helpful. Account name is this config file name. The password and account role are stored in it. The password should be generated manually and placed in this config file. Only one role are recognized, and it is <code>admin</code>. Account with different roles will be recognized in the same way, as just non-admin accounts.
                </p>
                <p>
                    Default path to log into Admin Dashboard is: <code>[APP URL]/login</code>
                </p>
            </Section>
            <Section header="Start page" headerId="content-startpage" headerLevel=3>
                <p>
                    The start page could be page of recent posts or static front-page. It could be selected in Configuration Dashboard in tab Reading. After the 'Static page' will be selected, in admin page 'Static pages' the button to edit static front page will display. Editing of front page is the same as other static pages.
                </p>
            </Section>
            <Section header="Static pages" headerId="content-staticpages" headerLevel=3>
                <p>
                    Those pages, that aren't posts, could be created in Admin Dashboard, in Static Pages. Adding new static page is possible after click in button with the same name. There is possibility to make one depth of pages, this means that one page could be in parent relation to other child-pages. It could be done, after creating static page, on list of static pages, in 'operations' buttons of specyfic page.
                </p>
            </Section>
            <Section header="Categories (posts related topic)" headerId="content-categories" headerLevel=3>
                <p>
                    Before the paragraph about Posts will drop here, categories explanation first. Undeletable, first after install, category for posts is 'Uncategorized'. It will be available to select on form for post add or edit. Each category has own page with category description and posts which it keeps. New category could be created as well on category list in Admin Dashboard.
                </p>
            </Section>
            <Section header="Tags (posts related topic)" headerId="content-tags" headerLevel=3>
                <p>
                    This concept is very simillar to categories, except editable own page and except place of creation. Tags are only created on form for post add or edit.
                </p>
            </Section>
            <Section header="Posts" headerId="content-posts" headerLevel=3>
                <p>
                    Those could be created from page 'Add content' in Admin Dashboard. There are regular post that contains its required title, category and content, and optional custom url slug, tags, meta description. Extended version, of regular post, are posts with featured: image, video, audio, link or quote.
                </p>
                <p>
                    Posts also could be saved as draft!
                </p>
            </Section>
        </Section>

        <Section header="Customization, configuration" headerLevel=2 headerId="custom-config" hasBottomLine={true}>
            <p>
                In Admin Dashboard, the Config tabs allow to set many HTMLz app settings. It splits to:
            </p>
            <ul>
                <li>General</li>
                <li>Languages</li>
                <li>Reading</li>
                <li>Widgets</li>
                <li>Metatags</li>
                <li>Performance</li>
                <li>Theme</li>
            </ul>
            <p>In the backend, whole settings are stored in <code>config/config.ini</code>. It could be increased or shrink.</p>
            <Section header="Config: General" headerId="config-general" headerLevel=3>
                <p>The basic settings of HTMLz app, like: </p>
                <ul>
                    <li>Host address of app, with <code>http://</code> or <code>https://</code></li>
                    <li>HTMLz app title</li>
                    <li>App short description</li>
                    <li>App long description</li>
                    <li>Base timezone of app</li>
                    <li>Preferred format of date. This documentation will be helpful: <Link location="https://www.php.net/manual/en/datetime.format.php" hasBefore={true}/></li>
                    <li>Copyright line</li>
                </ul>
            </Section>
            <Section header="Config: Languages" headerId="config-lang" headerLevel=3>
                <p>
                    For now, there's only selection of available for end user languages to choose on page of language selection (see: <Link location="#routes" hasBefore={false}/>)
                </p>
            </Section>
            <Section header="Config: Reading" headerId="config-reading" headerLevel=3>
                <p>
                    Whole settings that affect end user experience.
                </p>
                <ul>
                    <li>Front/Start/Main page type. Could be list of latest posts or static, editable page.</li>
                    <li>Enabling <code>/blog</code> built-in page. It shows list of latest posts.</li>
                    <li>Count of posts to show on front page if it will be list of latest posts.</li>
                    <li>Count of summary characters of one post if it will be list of latest posts.</li>
                    <li>Next few settings are for displaying given count of posts in each, listed special pages (like: category page, tag page, archive page, search result page...).</li>
                </ul>
            </Section>
        </Section>


        <h2 id="menu">Menu customization</h2>
        <p>
            [doc in progress]
        </p>

        <h2 id="cache">Caching</h2>
        <p>
            [doc in progress]
        </p>

        <h2 id="backup">Backup</h2>
        <p>
            [doc in progress]
        </p>

        <h2 id="rss">RSS</h2>
        <p>
            [doc in progress]
        </p>

        <h2 id="user">User profile config</h2>
        <p>
            [doc in progress]
        </p>
    </div>
</Layout>