<script>
    import Menu from '../components/Menu.svelte'
</script>


<div id="page">
    <aside>
        <a href="/" class="no-before"><h1>Foxay's projects documentations</h1></a>
        <a href="https://codeberg.org/foxay">Foxay's repositories</a>
        <Menu/>
        <hr/>
        <h3>Table of contents:</h3>
        <slot name="toc"></slot>
    </aside>
    <main>
        <slot/>
    </main>
</div>

<style>
    aside {
        width: 20rem;
        border-right: 1px solid var(--color-primary);
        padding: 60px 15px 15px 15px;
        overflow: auto;
    }

    main{
        padding: 60px 30px 30px 30px;
        overflow: auto;
        width: 100%;
    }

    #page{
        display: flex;
        height: 100vh;
    }

    @media screen and (max-width: 700px){
        #page{
            display: block;
        }

        aside{
            width: auto;
            border-right: none;
            border-bottom: 1px solid var(--color-primary);
            padding-top: 15px;
        }

        main{
            width: auto;
        }
    }
</style>