<script>
    export let location = '';
    export let label = undefined;
    export let hasBefore = false;
    export let className = '';
</script>

<a href="{location}" class="{!hasBefore ? 'no-before' : ''} {className}">{label ? label : location}</a>