<script>
    import UpLink from "./UpLink.svelte";
    import Link from "./Link.svelte";

    export let header = '';
    export let headerId = '';
    export let headerLevel = 1;
    export let hasBottomLine = false;
</script>

<div>
    <svelte:element this="{'h'+headerLevel}" id="{headerId}">
        {header} <UpLink/> <Link location={'#'+headerId} label="Link" className="size-medium border-left"/>
    </svelte:element>

    <slot/>
    
    {#if hasBottomLine}
    <hr/>    
    {/if}
    
</div>