:root{
    --color-primary: #281e5d;
    --color-lighter: #790179;
    --color-second: #acabaf;
}

@font-face {
    font-family: AtkinsonHyperlegibleRegular;
    src: url(Atkinson-Hyperlegible-Regular-102a.woff2);
}

body{
    font-family: AtkinsonHyperlegibleRegular !important;
    font-size: 1.2rem;
    max-width: 1200px;
    margin: auto;
    border-left: 1px solid var(--color-second);
    border-right: 1px solid var(--color-second);
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-primary);
}

a{
    color: var(--color-primary);
    text-decoration: none;
}
a::before{
    content: "Link to: "
}
a:hover{
    text-decoration: underline;
}

code{
    font-size: 1.1rem;
    color: var(--color-lighter);
}

.warning{
    color: rgb(255, 115, 0);
    font-weight: 700;
}

.no-before::before{
    content: "";
}

.size-medium{
    font-size: medium !important;
}

.border-left{
    border-left: 1px solid var(--color-primary);
    padding-left: 8px;
}